.gift {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top {
  width: 100px;
  height: 25px;
  background-color: #7aa944;
}

.body {
  width: 90px;
  height: 60px;
  background-color: #5c7e32;
}

.ribbonX {
  top: 40px;
  position: absolute;
  width: 90px;
  height: 15px;
  background-color: red;
}

.ribbonY {
  position: absolute;
  width: 15px;
  height: 85px;
  background-color: red;
}